{% extends "base.html" %}

{% block title %}
Rezept erstellen
{% endblock %}

{% block content %}


<!-- create_recipe.html -->
<form method="POST" action="/create-recipe">
    <label for="title">Titel:</label>
    <input type="text" name="title" id="title" required>
    <br>
  
    <label for="ingredient_name">Zutat:</label>
    <input type="text" name="ingredient_name" id="ingredient_name">
    <br>
  
    <label for="quantity">Menge:</label>
    <input type="text" name="quantity" id="quantity">
    <br>
  
    <label for="instructions">Anleitung:</label>
    <textarea name="instructions" id="instructions" rows="4" cols="50"></textarea>
    <br>
  
    <button type="submit">Rezept speichern</button>
  </form>
  {% endblock %}